* {
  box-sizing: border-box;
}

/*header, #about {
  background: url(https://images.unsplash.com/photo-1516383740770-fbcc5ccbece0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60)
  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
  min-height: 500px;
  height: 100%;
  border-radius: 5px;
  margin: 0;
  margin-top: 100px;
}

#about {
  margin-top: 20px;
}

/*.middle-display {
  min-height: 300px;
  margin-top: 40px;
}*/

body {
  font-family: Poppins,
  sans-serif; 
  font-size: 20px;
  color: black;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  font-family: Roboto;
  padding: 1% 0;
  background-color: rgb(0, 0, 0);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header {
  margin-bottom: 0;
}

section {
  min-height: 200px;
  padding: 3% 0;}
 /* background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}*/

.about-proffessional, .about-personal {
  background-color: rgba(242, 242, 242, 0.8);
  padding: 10px;
  border-radius: 10px;
  color: black;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.about-proffessional {
  margin-top: 80px;
}

.about-description {
  font-size: 0.8em;
  text-align: left;
  padding: 10px;
  padding-top: 15px;
}

.app-description {
  font-size: 0.8em;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.links {
  margin-top: 0px;
  margin-bottom: 0px;
  /*float: right;*/
  margin-right: 10px;
  padding: 5px;
  
  text-align: center;

}

.nav li {
  display: inline-block;
  padding-left: 20px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.project-header {
  margin-bottom: 0;
}

#about, #projects {
  margin-top: -60px;
  padding-top: 70px;
}

#about {
  margin-top: -20px;
}

#projects a {
  font-size: 1.3em;
  color: black;
  padding: 20px;
}


.my-name {
  text-align: center;
  /*padding-left: 30px;*/
  margin-top: 0px;
  margin-bottom: 0px;
}

.project-image {
  margin-top: 50px;
  margin-bottom: 20px;
  height: 100%;
  width: 70%;
  border-radius: 5px;
  border-color: black;
  border: 2px black solid;
  
}

@media only screen and (min-width: 600px) {

  .links {
    margin-top: -32px;
    margin-bottom: 0px;
    float: right;
    margin-right: 50px;
  }

  .my-name {
    font-weight: 200;
    text-align: left;
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .about-description {
    font-size: 1em;
    /*padding: 40px;*/
  }

  .app-description {
    font-size: 1em;

  }

@media only screen and (min-width: 700px) {

  .my-name {
    font-size: 30px;
    text-align: left;
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
  }  

  .about-description {
    padding: 70px;
    padding-top: 20px;
  }

}

